/* Input */
.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 
  focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 
  dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
}

/* CheckBox */
.checkboxInput {
  @apply w-4 h-4 border border-blue-950 rounded bg-blue-900 focus:ring-blue-900 dark:bg-gray-700 
  dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800;
}

.checkboxLabel {
  @apply text-blue-900 dark:text-gray-300;
}

/* Submit Button */
.submitButton {
  @apply w-full text-white text-base bg-blue-900 hover:bg-blue-950 focus:ring-2 focus:outline-none 
  focus:ring-blue-900 font-medium rounded-lg px-5 py-2.5 text-center dark:bg-blue-600  dark:hover:bg-blue-700 
  dark:focus:ring-blue-800;
}
