@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .max-w-custom {
    max-width: 1300px;
  }
}

body {
  @apply bg-gray-50;
}

.common-text-color1 {
  @apply text-blue-900;
}

.active {
  @apply text-sky-500;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown-content {
  min-width: 160px;
}

.dropdown:hover .dropdown-content {
  display: block;
}